.center-logo{
    display: flex;
    justify-content: center;
    margin-top: 4%
}

.blockquote{
    font-size: 1.5vw
}

.blockquote-footer{
    font-size: 1.2vw
}

.main-content{
    margin-bottom: 5%;
    padding: 0.3vw;
    margin-left: 10%;
    margin-right: 10%
}

.information-main{
    background-color: #ff6565bd;
    margin-top: 2%;
    box-shadow: 0vw 0vw 2vw 0vw #00000059
}

#discribe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

#image{
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%
}

#image img{
    width: 92%;
}