.profile{
    margin:4% auto
}
.story-post{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.story-post .card{
    margin-top: 2%;
    margin-left: 2%;
}

.card{
    position: static; 
}

#addPost{
    cursor: pointer;
    background: #fd0000;
    height: 18px;
    border-radius: 30px;
    display: flex;
    width: 18px;
    border: 1px outset black;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.postTitle{
    display: flex;
}
#profile-info{
    margin-top: 35px;
    flex-basis: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}