<div class="container" style="display: flex;">
    <div class="filter">
        <p style="text-align: center; font-weight: bolder; font-size: 15pt;">Данные</p>
        <label for="start" class="form-label">Начало</label>
        <input class="form-control" list="datalistOptions" id="start" placeholder="Начните вводить текст">
        <datalist id="datalistOptions">
            <option value="Москва">
            <option value="Пермь">
            <option value="Екатеринбург">
            <option value="Ижевск">
            <option value="Нижний Тагил">
            <option value="Владивосток">
            <option value="Тюмень">
            <option value="Красноярск">
        </datalist>
        <label for="end" class="form-label">Конец</label>
        <input class="form-control" list="datalistOptions" id="end" placeholder="Начните вводить текст">
        <datalist id="datalistOptions">
            <option value="Москва">
            <option value="Пермь">
            <option value="Екатеринбург">
            <option value="Ижевск">
            <option value="Нижний Тагил">
            <option value="Владивосток">
            <option value="Тюмень">
            <option value="Красноярск">
        </datalist>
        <label for="dateStart" style="margin-top: 10px;">Дата</label>
        <input type='date' id="dateStart">
        <p style="margin-top: 10px; cursor: pointer;">
            <span onclick="Switch(this)" style="padding: 3px;">🚘</span>
            <span onclick="Switch(this)" style="padding: 3px;">✈️</span>
            <span onclick="Switch(this)" style="padding: 3px;">🚂</span>
        </p>
        <button style="width: 100%; margin-top: 10px;" onclick="FindTiket()">Поиск</button>
    </div>
    <div class="list">
    </div>
</div>
<script>
    function Switch(place){
        if ($(place).css("border") == "0px none rgb(33, 37, 41)"){
            $(place).css({"background-color": "#7fd57f"})
            $(place).css({"border": "1px outset black"})
        }
        else{
            $(place).css({"background-color": "transparent"})
            $(place).css({"border": "0px none rgb(33, 37, 41)"})
        } 
    }
</script>