<div class="container">
    <div class="center-logo">
        <figure class="text-center">
            <blockquote class="blockquote">
              <p>❝ Мир вовсе не в твоих книгах и картах. Он вон там, за окном...❝</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Путешествуй вместе с <cite>WayFinder</cite>
        </figcaption>
    </div>
    <div class="main-content">
        <div class="information-main" style="display: flex">
            <div id="discribe" style="flex-basis: 50%;">
                <p>Почему именно мы?</p>
                <span>Путешествие - это непросто поездка от точки А до точки Б. Это впечатления от самой поездки.
                    Красоты природы, качественное обслуживание, комфорт и это не весь спектор услуг, который мы предоставляем
                </span>
                <a><p>Узнать больше...</p></a>
            </div>
            <div id="image">
                <img src="/static/img/1621900425_24-phonoteka_org-p-fon-khayao-miyadzaki-khodyachii-zamok-24.jpg">
            </div>
        </div>
        <div class="information-main" style="display: flex">
            <div id="image" style="justify-content: start;">
                <img src="/static/img/1621900425_24-phonoteka_org-p-fon-khayao-miyadzaki-khodyachii-zamok-24.jpg">
            </div>
            <div id="discribe" style="flex-basis: 50%;">
                <p>История большого путешествия</p>
                <span>Путешествие - это непросто поездка от точки А до точки Б. Это впечатления от самой поездки.
                    Красоты природы, качественное обслуживание, комфорт и это не весь спектор услуг, который мы предоставляем
                </span>
                <a><p>Узнать больше...</p></a>
            </div>
        </div>
        <div class="information-main" style="display: flex">
            <div id="discribe" style="flex-basis: 50%;">
                <p>Что безопаснее?</p>
                <span>Путешествие - это непросто поездка от точки А до точки Б. Это впечатления от самой поездки.
                    Красоты природы, качественное обслуживание, комфорт и это не весь спектор услуг, который мы предоставляем
                </span>
                <a><p>Узнать больше...</p></a>
            </div>
            <div id="image" style="justify-content: flex-end;">
                <img src="/static/img/1621900425_24-phonoteka_org-p-fon-khayao-miyadzaki-khodyachii-zamok-24.jpg">
            </div>
        </div>
    </div>
</div>