<div class="container">
    <div class="profile">
        <div style="display: flex;">
            {% if user == 'man' %}
            <div style="flex-basis: 20%">
                <img src="/static/img/profileMan.png" style="width: 100%;">
            </div>
            
            {% endif %}
            <div id="profile-info" style="">
                {% for key in profile %}
                    <p>{{key}}</p>
                {% endfor %}
            </div>
        </div>
        <div style="display: flex; justify-content: center; flex-direction: column; align-content: center; flex-wrap: wrap;">
            <p class="h3 postTitle" style="text-align: center; margin-top: 3%; font-family: 'Trebuchet MS'; display: flex; justify-content: center;">Токен</p>
            {% if token[0] == None %}
            <div class="row g-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Имя" aria-label="Имя" readonly value="Токен отсутсвует">
                  <p onclick="Create({{idUser}})" style="cursor: pointer;"> Создать токен </p>
                </div>
            </div>
            {% endif %}
            {% if token[0] != None and token[1] == "update" %}
            <div class="row g-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Имя" aria-label="Имя" readonly value="{{token.0}}">
                  <p onclick="update({{idUser}})" style="cursor: pointer;"> Обновить токен </p>
                </div>
            </div>
            {% endif %}
            {% if token[0] != None and token[1] == "None" %}
            <div class="row g-3">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Имя" aria-label="Имя" readonly value="{{token.0}}">
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="modal fade" id="CreatePost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Создание поста</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Название</label>
                <input class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Содержание</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea2" class="form-label">Изображения</label>
                <textarea placeholder="Укажите ссылки на изображения. Каждая в новой строке" class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary" onclick="SavePost('{{userId}}')">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header" id="helpcolor" style="background: blue;">
        <strong class="me-auto" id="helptitle"></strong>
        <small>Только что</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
      </div>
      <div class="toast-body" id="helpbody">
        
      </div>
    </div>
  </div>